<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1>Champions (From Database)</h1>
  <% if(champions) { %>
  <ul>
    <% champions.forEach(function(champion) { %>
    <li><%= champion.title %></li>
    <% }) %>
    <% } %>
    </ul>
  </body>
</html>
